# 1~10

In [1]:
print('Hello World')

Hello World

In [5]:
print("Mary's cosmetics")

Mary's cosmetics

In [6]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [7]:
print(" C:\Windows ")

 C:\Windows

In [9]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

#/n -> 줄바꿈, /t -> 들여쓰기

안녕하세요.
만나서		반갑습니다.

In [10]:
print ("오늘은", "일요일")

오늘은 일요일

In [13]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [14]:
print('naver', 'kakao', 'sk', 'samsung', sep = '/')

naver/kakao/sk/samsung

In [20]:
print("first", end=""); print("second")

firstsecond

In [21]:
print(5/3)

1.6666666666666667

# 11~20

In [25]:
삼성전자 = 50000
삼성전자 * 10

500000

In [27]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액)
print(현재가)
print(PER)

298000000000000
50000
15.79

In [31]:
s = 'hello'
t = 'python'
print(s,end="");print("!",t)
# 정답지 : print(s+"!", t)

hello! python

In [32]:
2 + 2 * 3

8

In [33]:
a = "132"
print (type(a))

<class 'str'>

In [39]:
num_str = "720"
num_str = int(num_str)
print(type(num_str))

<class 'int'>

In [41]:
num = 100
num = str(num)
print(type(num))

<class 'str'>

In [42]:
flt =  "15.79"
flt = float(flt)
print(type(flt))

<class 'float'>

In [44]:
year = "2020"
year = int(year)
print(year-1, year-2, year-3)

2019 2018 2017

In [48]:
won = 48584
month = 36
amount = won * month
print(amount)

1749024

# 21~30

In [49]:
letters = 'python'
print(letters[0],letters[2])

p t

In [50]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

In [55]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [57]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [60]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [62]:
phone_number2 = phone_number.replace("-", "")
phone_number2

'01011112222'

In [68]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [69]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [73]:
string = 'abcdfe2a354a32a'
string = string.replace('a','A')
print(string)

Abcdfe2A354A32A

In [74]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

# 31 ~ 40

In [76]:
a = "3"
b = "4"
print(a + b)

34

In [77]:
print("Hi" * 3)

HiHiHi

In [78]:
print('-'*80)

--------------------------------------------------------------------------------

In [83]:
t1 = 'python'
t2 = 'java'
print(4*(t1+" "+t2 + " "))

python java python java python java python java

In [85]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [86]:
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [87]:
print(f"이름: {name1}", f"나이:{age1}")
print(f"이름: {name2}", f"나이:{age2}")

이름: 김민수 나이:10
이름: 이철희 나이:13

In [88]:
상장주식수 = "5,969,782,550"
상장주식수 = 상장주식수.replace(',', '')
상장주식수 = int(상장주식수)
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

In [90]:
분기 = "2020/03(E) (IFRS연결)"
분기 = 분기.split('(')
날짜 = 분기[0] 
날짜

'2020/03'

In [94]:
data = "   삼성전자    "
data = data.strip()
print(data)

삼성전자

# 41 ~ 50

In [95]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [96]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [97]:
string = 'hello'
string.capitalize()

'Hello'

In [103]:
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

In [105]:
file_name = "2020_보고서.xlsx"
file_name.startswith(('2020'))

True

In [111]:
a = "hello world"
a.split()

['hello', 'world']

In [115]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [116]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [117]:
data = "039490     "
data.rstrip()

'039490'

# 51~60

In [11]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [12]:
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [13]:
movie_rank.insert(1, '슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [14]:
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [16]:
del movie_rank[2]
del movie_rank[2]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [18]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [20]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [25]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [27]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [28]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

# 61 ~ 70

In [29]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
del price[0]
price

[100, 130, 140, 150, 160, 170]

In [30]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [34]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [35]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [37]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[::2])

['삼성전자', 'Naver']

In [40]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [41]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [44]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [50]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [53]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

# 71 ~ 80

In [56]:
my_variable = ()
type(my_variable)

tuple

In [57]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [61]:
t_0 = (1, )
t_0, type(t_0)

((1,), tuple)

In [64]:
t = (1, 2, 3)
t[0] = 'a'

# 튜플 형식은 immutable하다

TypeError: 'tuple' object does not support item assignment

In [65]:
t = 1, 2, 3, 4
type(t)

tuple

In [66]:
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')

#t를 업데이트 해야됨

In [1]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
interest

['삼성전자', 'LG전자', 'SK Hynix']

In [2]:
interest = tuple(interest)
type(interest)

tuple

In [3]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [4]:
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 81 ~ 90

In [5]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [6]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, _, *valid_score= scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [7]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_score, _= scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [9]:
temp = {}
type(temp)

dict

In [10]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [13]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [14]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print(ice['메로나'])

1000

In [21]:
ice["메로나"] = 1300

In [23]:
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [24]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

#dic에 key가 없음

KeyError: '누가바'

# 91 ~ 100

In [25]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [27]:
print(inventory['메로나'][0], "원")

300 원

In [28]:
print(inventory['메로나'][1], "개")

20 개

In [29]:
inventory['월드콘'] = [500, 7]

In [35]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice_list = icecream.keys()
list(ice_list)
ice_value = icecream.values()
list(ice_value)

[1200, 1200, 1800, 1500, 1000]

In [37]:
sum(ice_value)

6700

In [38]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [39]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [40]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 101~110

In [ ]:
# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

# boolean

In [1]:
print(3 == 5)

False

In [2]:
print(3 < 5)

True

In [3]:
x = 4
print(1 < x < 5)

True

In [4]:
print ((3 == 3) and (4 != 3))

True

In [6]:
# print(3 => 4)
print(3 >= 4)
# >=이렇게 되어야 한다

False

In [7]:
if 4 < 3:
    print("Hello World")

# 아무것도 안뜬다

In [8]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [9]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

# 111 ~ 120

In [12]:
hi = input("")
print(hi*2)

 안녕하세요

안녕하세요안녕하세요

In [14]:
num = input("숫자를 입력하세요:")
print(10 + int(num))

숫자를 입력하세요: 10

20

In [20]:
num = input("숫자를 입력하세요:")
if int(num)%2 == 0: 
    print("짝수")
else:
    print("홀수")

숫자를 입력하세요: 1

홀수

In [25]:
num = input("숫자를 입력하세요:")
if int(num) > 255: 
    print(255)
else:
    print(int(num) + 20)

숫자를 입력하세요: 1

21

In [27]:
num = input("숫자를 입력하세요:")
if int(num) < 0:
    print(0)
elif int(num) > 255:
    print(255)
else:
    print(int(num) - 20)

숫자를 입력하세요: 266

255

In [28]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간:  12:12

정각이 아닙니다.

In [31]:
fruit = ["사과", "포도", "홍시"]

fav_fru = input("과일 종류를 입력하세요:")

if  fav_fru in fruit:
    print("맛있게 드세요")
else:
    print("재고가 없어요!")

과일 종류를 입력하세요: 사과

맛있게 드세요

In [32]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input("종목명: ")
if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명:  kakao

투자 경고 종목이 아닙니다.

In [33]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은: ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은:  봄

정답입니다.

In [34]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 토마토

정답입니다.

# 121 ~130

In [36]:
alphabet = input("소대문자 판별")

if alphabet.islower() == True:
    print("소문자 이므로 대문자로 반환됩니다.",alphabet.upper())
else:
    print("소문자 이므로 대문자로 반환됩니다.",alphabet.lower())

소대문자 판별 A

소문자 이므로 대문자로 반환됩니다. a

In [37]:
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score:  123

grade is E

In [39]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력:  100 위안

17100.0 원

In [42]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

num_list = []
num_list.append(num1)
num_list.append(num2)
num_list.append(num3)

print(max(num_list))

input number1:  12412365416453561
input number2:  1
input number3:  1

12412365416453561

In [43]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력:  011

당신은 SKT 사용자입니다.

In [46]:
우편번호 = input("우편번호를 입력하세요:")

if int(우편번호[2]) == 1 :
    print("강북구")
if int(우편번호[2]) == 1 :
    print("강북구")
if int(우편번호[2]) == 2 :
    print("강북구")
if int(우편번호[2]) == 3 :
    print("강북구")
if int(우편번호[2]) == 4 :
    print("도봉구")
if int(우편번호[2]) == 5 :
    print("도봉구")
if int(우편번호[2]) == 6 :
    print("도봉구")
if int(우편번호[2]) == 7 :
    print("노원구")
if int(우편번호[2]) == 8 :
    print("노원구")
if int(우편번호[2]) == 9 :
    print("노원구")

우편번호를 입력하세요: 003

강북구

In [57]:
주민번호 = input("주민번호 입력:")
주번 = 주민번호.split('-')
성별 = int(주번[1][0])

if 성별 == 1 or 성별 == 3:
    print("남자")
elif 성별 == 2 or 성별 == 4:
    print("여자")

주민번호 입력: 3123123-2024

여자

In [58]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호:  123123-5321453

서울이 아닙니다.

In [60]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호:  123123-1111111

유효하지 않은 주민등록번호입니다.

In [70]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

variance = int(btc['max_price']) - int(btc['min_price'])

discrim = variance + int(btc['opening_price'])

if discrim > int(btc['max_price']):
    print('상승장')
else:
    print('하락장')

상승장

# 131 ~ 140

In [71]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [72]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [74]:
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

In [76]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [77]:
변수 = "A"
b = 변수.lower()
print("변환:", b)

변환: a

In [78]:
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [80]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [81]:
for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [82]:
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [83]:
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

# 141 ~ 150

In [86]:
리스트 = [100, 200, 300]
for 변수 in 리스트:
  print(변수 + 10)

110
210
310

In [88]:
리스트 = ["김밥", "라면", "튀김"]

for 메뉴 in 리스트:
    print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [89]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for 종목 in 리스트:
    print(len(종목))

6
4
4

In [91]:
리스트 = ['dog', 'cat', 'parrot']

for 동물 in 리스트:
    print(동물, len(동물))

dog 3
cat 3
parrot 6

In [92]:
리스트 = ['dog', 'cat', 'parrot']

for 동물 in 리스트:
    print(동물[0])

d
c
p

In [94]:
리스트 = [1, 2, 3]

for num in 리스트 : 
    print("3 X", num)

3 X 1
3 X 2
3 X 3

In [97]:
리스트 = [1, 2, 3]

for num in 리스트 : 
    print(f"3 X {num}","=",3*num)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [103]:
리스트 = ["가", "나", "다", "라"]
나다라 = 리스트[1:]
for 변수 in 나다라:
    print(변수)

나
다
라

In [104]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
    print(변수)

가
다

In [105]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :-1]:
    print(변수)

라
다
나
가

# 151 ~ 160

In [1]:
리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [2]:
리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [5]:
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if  i < 20 and i % 3 == 0:
        print(i)

12
18

In [6]:
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if  len(i) > 3:
        print(i)

study
python
language

In [9]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if  i.isupper() == True:
        print(i)

A
D

In [10]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if  i.islower() == True:
        print(i)

b
c

In [13]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    if  i[0].islower() == True:
        print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [16]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [21]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i.split('.')[1] == 'h' or i.split('.')[1] == 'c':
        print(i)

intra.h
intra.c
define.h

# 161 ~ 170

In [ ]:
for i in range(1,100):
    print(i)

In [23]:
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [25]:
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
for i in range(100):
    print(99 - i)

In [26]:
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [28]:
for i in range(1,10):
    print(f"3x{i}=",3*i)

3x1= 3
3x2= 6
3x3= 9
3x4= 12
3x5= 15
3x6= 18
3x7= 21
3x8= 24
3x9= 27

In [30]:
for i in range(1,10):
    if (3*i)%2 != 0:
        print(f"3x{i}=",3*i)

3x1= 3
3x3= 9
3x5= 15
3x7= 21
3x9= 27

In [34]:
sumi = 0

for i in range(1,11):
    sumi += i
print(sumi)

55

In [38]:
sumi_O = 0

for i in range(1,11):
    if i%2 != 0:
        sumi_O += i
print(sumi_O)

25

In [45]:
sumi = 1
for i in range(1,11):
    sumi *= i 
print(sumi)

3628800

# 171 ~180

In [46]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [48]:
price_list = [32100, 32150, 32000, 32500]
ir = [3,2,1,0]

for i in range(len(price_list)):
    print(ir[i], price_list[i])

3 32100
2 32150
1 32000
0 32500

In [49]:
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [56]:
my_list = ["가", "나", "다", "라"]

for i in range(1, len(my_list)):
    print(my_list[i-1],my_list[i])

가 나
나 다
다 라

In [59]:
my_list = ["가", "나", "다", "라"]

for i in range(1, len(my_list)):
    print(my_list[-i],my_list[-i-1])

라 다
다 나
나 가

In [60]:
my_list = [100, 200, 400, 800]

for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [64]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(0,4):
    avg_3 = (my_list[i] + my_list[i+1] + my_list[i+2])/3
    print(avg_3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [66]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []

for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

# 181 ~ 190

In [67]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

In [68]:
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

In [69]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

In [70]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

In [71]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [72]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [74]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
        print("-" * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [75]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [76]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
print("-" * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

# 191 ~ 200

In [78]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [80]:
for i in data:
    for j in i:
        print(j*1.00014)
    print('-'*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [81]:
result = []

for i in data:
    for j in i:
        result.append(j*1.00014)
        # print(j*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [82]:
result_0 = []

result_0.append(result)
print(result_0)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [87]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    print(row[3])

100
190
310

In [88]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if (row[3] > 150):
        print(row[3])

190
310

In [89]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if (row[3] >= row[0]):
        print(row[3])

100
310

In [90]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for i in range(1, len(ohlc)):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

In [91]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [93]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])